<h1>Listing announcements for <%= link_to @batch.name, institute_department_batch_path(@batch.department.institute, @batch.department, @batch) %> batch, <%= link_to @batch.department.name, institute_department_path(@batch.department.institute, @batch.department) %>, <%= link_to @batch.department.institute.name, institute_path(@batch.department.institute) %></h1>

<table>
  <tr>
    <th>Message</th>
    <th>User</th>
    <th>Batch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @announcements.each do |announcement| %>
  <tr>
    <td><%= announcement.message %></td>
    <td><%= link_to 'Show', batch_announcement_path(@batch, announcement) %></td>
    <td><%= link_to 'Edit', edit_batch_announcement_path(@batch, announcement) %></td>
    <td><%= link_to 'Destroy', batch_announcement_path(@batch, announcement), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Announcement', new_batch_announcement_path(@batch) %>
