<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @announcement.message %>
</p>
<p>
  <b>Assets</b>
  <% @assets.each do |asset| %>
    <% if asset.afile.file? %>
      <br>
      <%= link_to asset.afile_file_name, asset.afile.url, :target => '_blank' %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_batch_announcement_path(@batch, @announcement) %> |
<%= link_to 'Back', batch_announcements_path(@batch) %>
