<h2>Chat</h2>
<ul class="users" id="users">
	<% @users.each do |user| %>
		<li data-token="<%=Digest::MD5.hexdigest(user.email)%>" data-name="<%= user.firstname.humanize %> <%= user.lastname.humanize %>" id="<%=user.id%>"> <%= user.email %> </li>
	<% end %>
</ul>


<div id="chatWindows" class="chatWindows">

</div>



<script type="text/javascript">
	$(function(){
		var faye = new Faye.Client('http://localhost:9292/faye');
		faye.subscribe('/chats/new/<%=@chat_listen_hash%>', function(data){
			eval(data);
		});

		var chat_window = function(id, data_token, name){

			var chat_form = '<div class="chatWindow '+id+'"><div class="chatHeader"><div class="chatName">'+name+'</div><div class="chatMinimize">&#10134;</div><div class="chatClose">&#10060;</div></div><ul class="chat"></ul>'+
					'<%= form_for Chat.new, :remote => true do |f| %>'+
						'<%= f.text_field :content, :style => "display:none" %>'+
						'<div class="chat_content_div" contenteditable="true"></div>'+
						'<div class="hiddens '+id+'">'+ 
						'<input type="hidden" class="currentChats" name="chat[currentChats]" value="'+id+'" data-token="'+data_token+'" />' +
						'</div>'+
						'<%= f.submit "Send" %>'+
					'<% end %>'+
					'</div>';
			return chat_form;
		};

		var chat_message = function(msg, sender, sent_time){
			var message_html = '<li class="chatmessage">'+
				'<div class="senderName"> '+sender+' </div> <div class="chatMessage">'+msg+'</div><div class="chatTime small blur">'+sent_time+'</div></li>';
			return message_html;
		};

		$('.chatWindows').on('submit', '#new_chat', function(e){
			//e.preventDefault();
			$(this).find('#chat_content').val($(this).find('.chat_content_div').html());
			var msg = $(this).find('#chat_content').val();
			var sender = $('#currentName').html();
			if(msg.trim() != ""){
				$(this).siblings('.chat').append(chat_message(msg, sender, moment().calendar()));
				//$(this).submit();
			}
		});

		$('.users li').click(function(){
			var id = $(this).attr('id');
			var data_token = $(this).attr('data-token');
			var name = $(this).attr('data-name');
			$('#chatWindows').append(chat_window(id, data_token, name));
		});

	});

</script>