<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @document.title %>
</p>

<p>
  <b>Description:</b>
  <%= @document.description %>
</p>

<p>
  <b>Batch:</b>
  <%= @document.batch.name %>
</p>

<p>
  <b>User:</b>
  <%= @document.user.email %>
</p>

<p>
	<b>Document attached:</b>
	<% if @document.docfile.file? %>
		<%= link_to :document, @document.docfile.url, :target => '_blank' %>
	<% else %>
		<%= image_tag @document.docfile.url, :style => "vertical-align:middle;" %>
	<% end %>
</p>


<%= link_to 'Edit', edit_batch_document_path(@batch, @document) %> |
<%= link_to 'Back', batch_documents_path(@batch) %>
