<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @document.title %>
</p>

<p>
  <b>Description:</b>
  <%= @document.description %>
</p>

<p>
  <b>Assets</b>
  <% @assets.each do |asset| %>
    <% if asset.afile.file? %>
      <br>
      <%= link_to asset.afile_file_name, asset.afile.url, :target => '_blank' %>
    <% end %>
  <% end %>
</p>

  
<%= link_to 'Edit', edit_batch_document_path(@batch, @document) %> |
<%= link_to 'Back', batch_documents_path(@batch) %>
