<h1>Listing batches</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date start</th>
    <th>Date end</th>
    <th>Department</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @batches.each do |batch| %>
  <tr>
    <td><%= batch.name %></td>
    <td><%= batch.date_start %></td>
    <td><%= batch.date_end %></td>
    <td><%= batch.department.name %></td>
    <td><%= batch.active %></td>
    <td><%= link_to 'Show', institute_department_batch_path(@institute, @department, batch) %></td>
    <td><%= link_to 'Edit', edit_institute_department_batch_path(@institute, @department, batch) %></td>
    <td><%= link_to 'Destroy', institute_department_batch_path(@institute, @department, batch), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Batch', new_institute_department_batch_path(@institute, @department) %>
