<h2><%= @form.name %></h2>
<%= link_to("New Question", new_form_field_path(@form)) %>
<h3>Questions</h3>
<table class="table">
  <tbody>
    <% @form.fields.each do |field| %>
    <tr>
      <td><%= field.name %></td>
      <td><%= link_to("Edit", edit_form_field_path(@form, field)) %></td>
      <td><%= link_to("Delete", form_field_path(@form, field), :method => :delete) %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>

<!-- Need to check here what all batches the current user has here... For now set to all batches -->
<% unless(@form.published?) %>
  <%= form_for(@form, :url => form_publish_path(@form)) do |f| %>
    <div class="field">
      <%= f.label :batch_id %>
      <%= f.select(:batch_id, Batch.all.collect{ |batch| [batch.name, batch.id] }) %>
    </div>
    <div class="field">
      <%= f.submit %>
    </div>
  <% end %>
<% else %>
  <strong>Batch: <%= @form.batch.name %></strong>
<% end %>
